:root {
  --color-white-oklch: oklch(1 0 326);
  --color-white-rgb: #FFFFFF;
  --color-alabaster-oklch: oklch(0.99 0.01 88.7);
  --color-alabaster-rgb: #fefaf0;
  --color-snow-oklch: oklch(0.99 0.01 190);
  --color-snow-rgb: #f4fefd;
  --color-ivory-oklch: oklch(0.98 0.02 89.2);
  --color-ivory-rgb: #fef7e5;
  --color-cream-oklch: oklch(0.98 0.04 101);
  --color-cream-rgb: #fffbda;
  --color-eggshell-oklch: oklch(0.98 0.03 96.4);
  --color-eggshell-rgb: #fef9e3;
  --color-cotton-oklch: oklch(0.99 0.01 116);
  --color-cotton-rgb: #fbfcf7;
  --color-chiffon-oklch: oklch(0.98 0.01 107);
  --color-chiffon-rgb: #fafaf1;
  --color-salt-oklch: oklch(0.96 0.01 39.4);
  --color-salt-rgb: #f8efec;
  --color-lace-oklch: oklch(0.97 0.01 74.4);
  --color-lace-rgb: #faf3ea;
  --color-coconut-oklch: oklch(0.97 0.02 60.8);
  --color-coconut-rgb: #fff1e6;
  --color-linen-oklch: oklch(0.94 0.03 93.5);
  --color-linen-rgb: #f2ebd3;
  --color-bone-oklch: oklch(0.9 0.03 87.9);
  --color-bone-rgb: #e7dfcc;
  --color-porcelain-oklch: oklch(1 0 106);
  --color-porcelain-rgb: #fffffc;
  --color-parchment-oklch: oklch(0.97 0.03 94.9);
  --color-parchment-rgb: #fcf6df;
  --color-rice-oklch: oklch(0.98 0.01 76.6);
  --color-rice-rgb: #fbf6ef;
  --color-blue-oklch: oklch(0.56 0.18 254);
  --color-blue-rgb: #0074d9;
  --color-navy-oklch: oklch(0.24 0.07 252);
  --color-navy-rgb: #001f3f;
  --color-aqua-oklch: oklch(0.85 0.1 225);
  --color-aqua-rgb: #7fdbff;
  --color-sky-oklch: oklch(0.73 0.16 238);
  --color-sky-rgb: #00b2ff;
  --color-teal-oklch: oklch(0.77 0.12 195);
  --color-teal-rgb: #39cccc;
  --color-slate-oklch: oklch(0.58 0.02 264);
  --color-slate-rgb: #757b87;
  --color-indigo-oklch: oklch(0.29 0.11 285);
  --color-indigo-rgb: #281e5d;
  --color-cobalt-oklch: oklch(0.42 0.21 265);
  --color-cobalt-rgb: #1438bd;
  --color-ocean-oklch: oklch(0.44 0.07 199);
  --color-ocean-rgb: #026063;
  --color-peacock-oklch: oklch(0.27 0.05 217);
  --color-peacock-rgb: #002d37;
  --color-azure-oklch: oklch(0.36 0.2 268);
  --color-azure-rgb: #1621a6;
  --color-cerulean-oklch: oklch(0.62 0.12 231);
  --color-cerulean-rgb: #0592c2;
  --color-lapis-oklch: oklch(0.42 0.22 269);
  --color-lapis-rgb: #2632c2;
  --color-spruce-oklch: oklch(0.35 0.03 240);
  --color-spruce-rgb: #2c3e4b;
  --color-stone-oklch: oklch(0.56 0.05 238);
  --color-stone-rgb: #59788d;
  --color-aegean-oklch: oklch(0.38 0.08 252);
  --color-aegean-rgb: #1e456e;
  --color-berry-oklch: oklch(0.29 0.14 280);
  --color-berry-rgb: #24146f;
  --color-denim-oklch: oklch(0.24 0.06 268);
  --color-denim-rgb: #141e3c;
  --color-admiral-oklch: oklch(0.31 0.2 265);
  --color-admiral-rgb: #061094;
  --color-sapphire-oklch: oklch(0.71 0.09 208);
  --color-sapphire-rgb: #52b2c0;
  --color-arctic-oklch: oklch(0.89 0.1 208);
  --color-arctic-rgb: #82edfd;
  --color-brown-oklch: oklch(0.22 0.03 66.9);
  --color-brown-rgb: #24180b;
  --color-tan-oklch: oklch(0.89 0.06 97.4);
  --color-tan-rgb: #e5dbac;
  --color-beige-oklch: oklch(0.89 0.09 96.3);
  --color-beige-rgb: #ecdc99;
  --color-macaroon-oklch: oklch(0.9 0.13 96.8);
  --color-macaroon-rgb: #f7df75;
  --color-hazelwood-oklch: oklch(0.79 0.06 94.2);
  --color-hazelwood-rgb: #c9bc8e;
  --color-granola-oklch: oklch(0.79 0.12 91.1);
  --color-granola-rgb: #d6b75a;
  --color-oat-oklch: oklch(0.84 0.08 91.8);
  --color-oat-rgb: #dec98a;
  --color-eggnog-oklch: oklch(0.92 0.09 90.4);
  --color-eggnog-rgb: #fbe29d;
  --color-fawn-oklch: oklch(0.74 0.11 90.6);
  --color-fawn-rgb: #c7a951;
  --color-sugarcookie-oklch: oklch(0.93 0.08 102);
  --color-sugarcookie-rgb: #f3ebad;
  --color-sand-oklch: oklch(0.79 0.11 90.5);
  --color-sand-rgb: #d7b963;
  --color-sepia-oklch: oklch(0.8 0.09 74.7);
  --color-sepia-rgb: #e3b678;
  --color-latte-oklch: oklch(0.83 0.1 80.7);
  --color-latte-rgb: #e9c17b;
  --color-oyster-oklch: oklch(0.87 0.07 103);
  --color-oyster-rgb: #dcd69f;
  --color-biscotti-oklch: oklch(0.83 0.12 92.3);
  --color-biscotti-rgb: #e3c565;
  --color-parmesean-oklch: oklch(0.93 0.11 96.1);
  --color-parmesean-rgb: #fee993;
  --color-hazelnut-oklch: oklch(0.73 0.1 91.5);
  --color-hazelnut-rgb: #bda55d;
  --color-sandcastle-oklch: oklch(0.82 0.09 90.3);
  --color-sandcastle-rgb: #dbc27d;
  --color-buttermilk-oklch: oklch(0.95 0.08 96.7);
  --color-buttermilk-rgb: #fdefb2;
  --color-sanddollar-oklch: oklch(0.92 0.06 103);
  --color-sanddollar-rgb: #ebe7b9;
  --color-shortbread-oklch: oklch(0.93 0.11 96.1);
  --color-shortbread-rgb: #fce791;
  --color-yellow-oklch: oklch(0.9 0.19 97.4);
  --color-yellow-rgb: #ffdc00;
  --color-canary-oklch: oklch(0.85 0.17 90.4);
  --color-canary-rgb: #fac801;
  --color-gold-oklch: oklch(0.79 0.17 73.3);
  --color-gold-rgb: #f9a602;
  --color-daffodil-oklch: oklch(0.94 0.12 101);
  --color-daffodil-rgb: #feee88;
  --color-flaxen-oklch: oklch(0.78 0.12 90.9);
  --color-flaxen-rgb: #d5b65a;
  --color-butter-oklch: oklch(0.91 0.18 99.7);
  --color-butter-rgb: #fee226;
  --color-lemon-oklch: oklch(0.96 0.18 114);
  --color-lemon-rgb: #effd5f;
  --color-mustard-oklch: oklch(0.8 0.15 87.8);
  --color-mustard-rgb: #e9b829;
  --color-corn-oklch: oklch(0.84 0.18 101);
  --color-corn-rgb: #e4cd04;
  --color-medallion-oklch: oklch(0.78 0.16 87.6);
  --color-medallion-rgb: #e4b103;
  --color-dandelion-oklch: oklch(0.87 0.17 91);
  --color-dandelion-rgb: #fdce2a;
  --color-bumblebee-oklch: oklch(0.91 0.19 101);
  --color-bumblebee-rgb: #fce206;
  --color-banana-oklch: oklch(0.96 0.1 103);
  --color-banana-rgb: #fcf4a3;
  --color-butterscotch-oklch: oklch(0.83 0.17 84.9);
  --color-butterscotch-rgb: #fabd04;
  --color-dijon-oklch: oklch(0.69 0.14 85);
  --color-dijon-rgb: #c29200;
  --color-honey-oklch: oklch(0.75 0.16 69.6);
  --color-honey-rgb: #ec9707;
  --color-blonde-oklch: oklch(0.93 0.14 101);
  --color-blonde-rgb: #fdeb75;
  --color-pineapple-oklch: oklch(0.91 0.18 99.8);
  --color-pineapple-rgb: #ffe327;
  --color-tuscansun-oklch: oklch(0.87 0.17 92.8);
  --color-tuscansun-rgb: #fcd12a;
  --color-orange-oklch: oklch(0.74 0.18 53.5);
  --color-orange-rgb: #ff851b;
  --color-tangerine-oklch: oklch(0.73 0.17 51.9);
  --color-tangerine-rgb: #f98228;
  --color-merigold-oklch: oklch(0.81 0.16 74.9);
  --color-merigold-rgb: #fdae1d;
  --color-cider-oklch: oklch(0.59 0.13 56.2);
  --color-cider-rgb: #b66827;
  --color-rust-oklch: oklch(0.46 0.12 49.7);
  --color-rust-rgb: #8c4005;
  --color-ginger-oklch: oklch(0.57 0.15 49.7);
  --color-ginger-rgb: #bc5703;
  --color-tiger-oklch: oklch(0.7 0.2 45.6);
  --color-tiger-rgb: #fb6b02;
  --color-bronze-oklch: oklch(0.56 0.14 50.9);
  --color-bronze-rgb: #b2560c;
  --color-cantaloupe-oklch: oklch(0.79 0.13 47.7);
  --color-cantaloupe-rgb: #fca172;
  --color-apricot-oklch: oklch(0.71 0.17 57.1);
  --color-apricot-rgb: #ed810f;
  --color-carrot-oklch: oklch(0.68 0.18 49.1);
  --color-carrot-rgb: #ed7116;
  --color-squash-oklch: oklch(0.6 0.16 48.5);
  --color-squash-rgb: #c95c09;
  --color-spice-oklch: oklch(0.42 0.11 52.4);
  --color-spice-rgb: #7a3a03;
  --color-marmalade-oklch: oklch(0.62 0.16 49.6);
  --color-marmalade-rgb: #d16102;
  --color-amber-oklch: oklch(0.44 0.13 42.7);
  --color-amber-rgb: #893201;
  --color-sandstone-oklch: oklch(0.65 0.15 52);
  --color-sandstone-rgb: #d57128;
  --color-yam-oklch: oklch(0.6 0.17 46.7);
  --color-yam-rgb: #cc5801;
  --color-red-oklch: oklch(0.66 0.23 28.4);
  --color-red-rgb: #ff4136;
  --color-cherry-oklch: oklch(0.44 0.17 30.4);
  --color-cherry-rgb: #9a0f02;
  --color-rose-oklch: oklch(0.59 0.22 26.5);
  --color-rose-rgb: #e2252a;
  --color-jam-oklch: oklch(0.32 0.11 28.5);
  --color-jam-rgb: #600f0b;
  --color-merlot-oklch: oklch(0.32 0.08 26.9);
  --color-merlot-rgb: #541f1b;
  --color-garnet-oklch: oklch(0.31 0.12 30);
  --color-garnet-rgb: #5f0a04;
  --color-crimson-oklch: oklch(0.5 0.2 29.2);
  --color-crimson-rgb: #b8100a;
  --color-ruby-oklch: oklch(0.41 0.17 29.2);
  --color-ruby-rgb: #900503;
  --color-scarlet-oklch: oklch(0.42 0.16 29.1);
  --color-scarlet-rgb: #910d08;
  --color-redwine-oklch: oklch(0.27 0.1 29);
  --color-redwine-rgb: #4c0805;
  --color-redapple-oklch: oklch(0.47 0.18 30.2);
  --color-redapple-rgb: #a91b0d;
  --color-mahogany-oklch: oklch(0.25 0.08 28.6);
  --color-mahogany-rgb: #420d09;
  --color-blood-oklch: oklch(0.35 0.13 30.2);
  --color-blood-rgb: #710c04;
  --color-sangria-oklch: oklch(0.33 0.1 28.1);
  --color-sangria-rgb: #5f1914;
  --color-currant-oklch: oklch(0.33 0.12 29.2);
  --color-currant-rgb: #670c07;
  --color-blush-oklch: oklch(0.57 0.14 27.7);
  --color-blush-rgb: #bb544a;
  --color-candy-oklch: oklch(0.55 0.22 30.2);
  --color-candy-rgb: #d31603;
  --color-lipstick-oklch: oklch(0.44 0.17 30.4);
  --color-lipstick-rgb: #9b0f02;
  --color-pink-oklch: oklch(0.79 0.13 346);
  --color-pink-rgb: #f69acd;
  --color-fuchsia-oklch: oklch(0.65 0.27 341);
  --color-fuchsia-rgb: #f012be;
  --color-punch-oklch: oklch(0.67 0.2 10);
  --color-punch-rgb: #f25278;
  --color-watermelon-oklch: oklch(0.75 0.15 7.5);
  --color-watermelon-rgb: #fe809c;
  --color-flamingo-oklch: oklch(0.81 0.11 5.11);
  --color-flamingo-rgb: #fda4b8;
  --color-rouge-oklch: oklch(0.7 0.17 7.51);
  --color-rouge-rgb: #f26c8c;
  --color-salmon-oklch: oklch(0.82 0.1 28.6);
  --color-salmon-rgb: #fdab9f;
  --color-coral-oklch: oklch(0.73 0.16 31.2);
  --color-coral-rgb: #fe7d67;
  --color-peach-oklch: oklch(0.77 0.13 30.2);
  --color-peach-rgb: #fb9483;
  --color-strawberry-oklch: oklch(0.67 0.21 24.5);
  --color-strawberry-rgb: #fc4c4e;
  --color-rosewood-oklch: oklch(0.51 0.13 22.7);
  --color-rosewood-rgb: #a04242;
  --color-lemonade-oklch: oklch(0.85 0.08 1.31);
  --color-lemonade-rgb: #fabacb;
  --color-taffy-oklch: oklch(0.76 0.16 348);
  --color-taffy-rgb: #fa85c4;
  --color-bubblegum-oklch: oklch(0.71 0.21 355);
  --color-bubblegum-rgb: #fd5ca8;
  --color-balletslipper-oklch: oklch(0.79 0.12 354);
  --color-balletslipper-rgb: #f69abf;
  --color-crepe-oklch: oklch(0.84 0.07 1.58);
  --color-crepe-rgb: #f1b7c6;
  --color-maroon-oklch: oklch(0.41 0.15 358);
  --color-maroon-rgb: #85144b;
  --color-hotpink-oklch: oklch(0.66 0.26 356);
  --color-hotpink-rgb: #ff1696;
  --color-purple-oklch: oklch(0.55 0.26 321);
  --color-purple-rgb: #b10dc9;
  --color-mauve-oklch: oklch(0.49 0.11 318);
  --color-mauve-rgb: #7a4a89;
  --color-violet-oklch: oklch(0.41 0.2 315);
  --color-violet-rgb: #710193;
  --color-boysenberry-oklch: oklch(0.33 0.13 357);
  --color-boysenberry-rgb: #630536;
  --color-lavender-oklch: oklch(0.8 0.14 319);
  --color-lavender-rgb: #e3a0f6;
  --color-plum-oklch: oklch(0.34 0.1 360);
  --color-plum-rgb: #601a36;
  --color-lilac-oklch: oklch(0.63 0.18 319);
  --color-lilac-rgb: #b65fcd;
  --color-periwinkle-oklch: oklch(0.73 0.1 314);
  --color-periwinkle-rgb: #be93d4;
  --color-eggplant-oklch: oklch(0.25 0.07 327);
  --color-eggplant-rgb: #311431;
  --color-iris-oklch: oklch(0.6 0.15 307);
  --color-iris-rgb: #9866c5;
  --color-heather-oklch: oklch(0.64 0.1 307);
  --color-heather-rgb: #9b7cb9;
  --color-amethyst-oklch: oklch(0.62 0.2 306);
  --color-amethyst-rgb: #a45de4;
  --color-raisin-oklch: oklch(0.2 0.06 358);
  --color-raisin-rgb: #290916;
  --color-orchid-oklch: oklch(0.66 0.2 306);
  --color-orchid-rgb: #af69ee;
  --color-mulberry-oklch: oklch(0.27 0.11 4.92);
  --color-mulberry-rgb: #4d0220;
  --color-green-oklch: oklch(0.74 0.22 144);
  --color-green-rgb: #2ecc40;
  --color-chartreuse-oklch: oklch(0.91 0.23 129);
  --color-chartreuse-rgb: #b0fd38;
  --color-juniper-oklch: oklch(0.41 0.1 129);
  --color-juniper-rgb: #395311;
  --color-sage-oklch: oklch(0.61 0.06 138);
  --color-sage-rgb: #728c69;
  --color-lime-oklch: oklch(0.87 0.25 149);
  --color-lime-rgb: #01ff70;
  --color-fern-oklch: oklch(0.72 0.15 145);
  --color-fern-rgb: #5dbc64;
  --color-olive-oklch: oklch(0.76 0.13 128);
  --color-olive-rgb: #98bf64;
  --color-emerald-oklch: oklch(0.55 0.18 143);
  --color-emerald-rgb: #038911;
  --color-pear-oklch: oklch(0.71 0.18 132);
  --color-pear-rgb: #74b62d;
  --color-moss-oklch: oklch(0.49 0.12 132);
  --color-moss-rgb: #476d1e;
  --color-shamrock-oklch: oklch(0.65 0.22 143);
  --color-shamrock-rgb: #03ac13;
  --color-seafoam-oklch: oklch(0.84 0.18 156);
  --color-seafoam-rgb: #3cec96;
  --color-pine-oklch: oklch(0.39 0.09 141);
  --color-pine-rgb: #24501e;
  --color-parakeet-oklch: oklch(0.7 0.21 147);
  --color-parakeet-rgb: #02c04a;
  --color-mint-oklch: oklch(0.88 0.1 162);
  --color-mint-rgb: #98ecc3;
  --color-seaweed-oklch: oklch(0.38 0.07 132);
  --color-seaweed-rgb: #354b21;
  --color-pickle-oklch: oklch(0.55 0.11 131);
  --color-pickle-rgb: #5a7d36;
  --color-pistachio-oklch: oklch(0.84 0.04 161);
  --color-pistachio-rgb: #b2d3c1;
  --color-basil-oklch: oklch(0.45 0.1 142);
  --color-basil-rgb: #32622d;
  --color-crocodile-oklch: oklch(0.55 0.1 129);
  --color-crocodile-rgb: #5f7c3a;
  --color-grey-oklch: oklch(0.74 0 0);
  --color-grey-rgb: #aaaaaa;
  --color-shadow-oklch: oklch(0.34 0 0);
  --color-shadow-rgb: #373737;
  --color-graphite-oklch: oklch(0.44 0.03 319);
  --color-graphite-rgb: #584d5b;
  --color-iron-oklch: oklch(0.31 0.01 338);
  --color-iron-rgb: #332d31;
  --color-pewter-oklch: oklch(0.53 0.04 289);
  --color-pewter-rgb: #6a6880;
  --color-cloud-oklch: oklch(0.83 0.02 286);
  --color-cloud-rgb: #c5c5d0;
  --color-silver-oklch: oklch(0.9 0 0);
  --color-silver-rgb: #dddddd;
  --color-smoke-oklch: oklch(0.45 0.02 311);
  --color-smoke-rgb: #59515f;
  --color-anchor-oklch: oklch(0.38 0.02 286);
  --color-anchor-rgb: #42424c;
  --color-ash-oklch: oklch(0.43 0.01 9.96);
  --color-ash-rgb: #554c4d;
  --color-porpoise-oklch: oklch(0.42 0.03 288);
  --color-porpoise-rgb: #4d4c5c;
  --color-dove-oklch: oklch(0.56 0.03 320);
  --color-dove-rgb: #7c6e7f;
  --color-fog-oklch: oklch(0.48 0.02 326);
  --color-fog-rgb: #655965;
  --color-flint-oklch: oklch(0.6 0.05 286);
  --color-flint-rgb: #7d7c9c;
  --color-pebble-oklch: oklch(0.32 0 0);
  --color-pebble-rgb: #333333;
  --color-lead-oklch: oklch(0.37 0.03 288);
  --color-lead-rgb: #403f4e;
  --color-coin-oklch: oklch(0.68 0.03 288);
  --color-coin-rgb: #9897a9;
  --color-fossil-oklch: oklch(0.56 0.01 338);
  --color-fossil-rgb: #787276;
  --color-black-oklch: oklch(0.18 0 0);
  --color-black-rgb: #111111;
  --color-ebony-oklch: oklch(0.11 0.02 71.8);
  --color-ebony-rgb: #080401;
  --color-crow-oklch: oklch(0.25 0.01 67.5);
  --color-crow-rgb: #25221F;
  --color-charcoal-oklch: oklch(0.25 0.01 315);
  --color-charcoal-rgb: #222023;
  --color-hemi-orange-oklch: oklch(0.7 0.17 48.1);
  --color-hemi-orange-rgb: #F3782B;
  --color-plum-crazy-purple-oklch: oklch(0.45 0.25 294);
  --color-plum-crazy-purple-rgb: #6600CC;
  --color-black-cherry-oklch: oklch(0.33 0.07 352);
  --color-black-cherry-rgb: #52253A;
  --color-panther-pink-oklch: oklch(0.58 0.19 340);
  --color-panther-pink-rgb: #BE439D;
  --color-green-go-oklch: oklch(0.61 0.15 148);
  --color-green-go-rgb: #339A4B;
  --color-sublime-green-oklch: oklch(0.83 0.2 129);
  --color-sublime-green-rgb: #a0e03a;
  --color-go-mango-oklch: oklch(0.62 0.17 28.2);
  --color-go-mango-rgb: #DA5246;
  --color-bright-green-oklch: oklch(0.88 0.28 138);
  --color-bright-green-rgb: #66ff00;
  --color-top-banana-oklch: oklch(0.93 0.17 103);
  --color-top-banana-rgb: #ffed4d;
  --color-citron-yella-oklch: oklch(0.7 0.15 114);
  --color-citron-yella-rgb: #9fa91f;
  --color-rebecca-purple-oklch: oklch(0.44 0.16 303);
  --color-rebecca-purple-rgb: #663399;
}
